body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0F0E11;
}

canvas {
    background-color: #0F0E11;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid #f9f9f9;
    display: block;
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%);
}

.slanted-wall{

    width: 10px;
    height: 490px;
    background-color: #f9f9f9;
    position: absolute;
    top: 220px;
    left: 620px;
    rotate: 45deg;
    overflow: hidden;
}

.p-wall{

    width: 10px;
    height: 365px;
    background-color: #f9f9f9;
    position: absolute;
    top: 289px;
    left: 792px;
    overflow: hidden;
}

.b-wall{

    width: 10px;
    height: 350px;
    background-color: #b3cdd1;
    position: absolute;
    top: 461px;
    left: 530px;
    rotate: 90deg;
    overflow: hidden;
}

.spam-wall{

    width: 745px;
    height: 50px;
    background-color: #b3cdd1;
    position: absolute;
    top: 636.5px;
    left: 430px;
    transform: translate(-50%, -50%);
}